body {
	font-family: Roboto;
	background: #373B44;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #4286f4, #373B44);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #4286f4, #373B44); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}


.field {
	margin-left: 18px;
}

span {
	background: #e74c3c;
	height: 40px;
	margin-right: 20px;
	text-align: center;
	color: white;
	width: 0;
	display: inline-block;
	transition: 0.2s linear;
	opacity: 0;
	border-radius: 100%;
}

/*span: hover {
	width: 100px;
}*/

li {
	background: #fff;
	height: 40px;
	line-height: 40px;
	color: #666;
	list-style-type: none;
}

li:nth-child(2){
	background-color: red;
}

li:hover span {
	width: 40px;
	opacity: 1.0;
}